In [1]:
import pandas as pd
from pathlib import Path

education = pd.read_csv('../data/education.csv')
education

                Degree             Institution              Field  From  Until
0                 Ph.D  University of Bayreuth   Computer Science  2020   2024
1    Master of Science       University Munich   Computer Science  2018   2020
2             Exchange       Yonsei University   Computer Science  2016   2017
3  Bachelor of Science       University Munich  Media Informatics  2013   2018

In [2]:
def format_education(education_df):
    def mapDiv(item):
        return '''
        <div class="education-item">
            <div class="education-item-institution">%(Institution)s</div>
            <div class="education-item-degree">%(Degree)s</div>
            <div class="education-item-until">%(Until)s</div>
            <div class="education-item-field">%(Field)s</div>
        </div>
        ''' % item
    
    edu_items = "\n".join([mapDiv(item) for _, item in education_df.iterrows()])
    return f'''
        <div class="education">
            {edu_items} 
        </div>
    '''

In [3]:
with Path('../_sections/_education.html').open('w') as out:
    out.write(format_education(education))